{% extends "layouts/default.njk" %}
{% import "applets/photosApplet.njk" as "photosApplet" with context %}
{% import "applets/designApplet.njk" as "designApplet" with context %}
{% import "applets/postsApplet.njk" as "postsApplet" with context %}
{% import "applets/musicApplet.njk" as "musicApplet" with context %}
{% import "applets/chatApplet.njk" as "chatApplet" with context %}
{% block title %}Stephen Barkan{% endblock %}

{% block content %}
    <div class="relative flex justify-center flex-1 row-start-2 gap-3 max-w-[100vw] items-center page-container">
        <div class="relative sm:grid place-items-center w-full grid-absolute max-w-[1800px] xs:px-2 py-2 max-h-[1100px] h-full">
            {{designApplet.applet(title='design', maxWidth='w-full sm:w-[calc(100vw-1rem)] md:max-w-[780px]', height='sm:h-[350px]', data=collections.designs, posX='sm:absolute lg:left-[4.4vw]', posY='lg:top-[3vh]')}}
            {{musicApplet.applet(title='music', maxWidth='sm:w-[520px]', height='sm:h-[320px]', data=music, posX='sm:absolute lg:left-[2.4vw]', posY='lg:bottom-[3vh]')}}
            {{chatApplet.applet(title='chat', maxWidth='sm:w-[316px]', height='sm:h-[616px]', posX='sm:absolute lg:right-[14vw]', posY='lg:top-[7vh]')}}
            {{photosApplet.applet(title='photos', maxWidth='sm:w-[335px]', height='sm:h-[495px]', data=photos, posX='sm:absolute lg:right-[3.3vw]', posY='lg:bottom-[5vh]')}}
            {{postsApplet.applet(title='posts', maxWidth='w-full sm:w-[calc(100vw-1rem)] md:max-w-[740px]', height='sm:h-[468px]', data=collections.posts)}}
        </div>
    </div>
{% endblock %}
