{% macro applet(title, maxWidth, height, data, posX, posY, timingIn, timingOut) %}
    <div
    data-is-applet
    data-applet="{{title}}"
    :class="activeApplet !== '{{title}}' && 'hidden lg:grid'"
    x-show="appState === 'loggedIn'"
    x-transition:enter-start="scale-110 opacity-0"
    x-transition:enter="transition transform {{timingIn}}"
    x-transition:enter-end="scale-100 opacity-100"
    x-transition:leave-start="scale-100 opacity-100"
    x-transition:leave="transition transform {{timingOut}}"
    x-transition:leave-end="scale-0 opacity-0"
    @click="setActiveApplet('{{title}}')"
    class="h-full grid place-items-center sm:h-auto sm:w-[min-content] {{posX}} {{posY}} grid-inset-0 transform"
    style="z-index: 1">
        <div
        class="{{maxWidth}} max-w-full {{height}} h-full flex-1 flex flex-col pt-2 gap-3 rounded-lg bg-ui-applet-bg overflow-hidden transform relative"
        :class="activeApplet === '{{title}}' ? 'xs:shadow-applet-active shadow-applet-idle' :'shadow-applet-idle pointer-events-none'">
            <div class="px-2">
                <header class="flex justify-center w-full px-2 py-1.5 rounded bg-clr-tint shadow-applet-header">
                    <h2 class="text-sm font-medium text-display-secondary [text-shadow:0.6px_0.6px_0px_rgb(255_255_255_/_80%)]">{{title | capitalize}}</h2>
                </header>
            </div>
            <section class="flex flex-col flex-1 pt-px overflow-hidden">
                {% block content %}{% endblock %}
            </section>
        </div>
    </div>
{% endmacro %}
