{% set heartIcon %}{% include "icons/heart-fill.svg" %}{% endset %}
{% set penIcon %}{% include "icons/pen-fill.svg" %}{% endset %}
{% set chatIcon %}{% include "icons/chat-fill.svg" %}{% endset %}
{% set musicIcon %}{% include "icons/music-fill.svg" %}{% endset %}
{% set bookIcon %}{% include "icons/book-fill.svg" %}{% endset %}

{% macro appletIcon(icon, applet) %}
    <div class="flex flex-col items-center gap-1">
        <button
            data-applet="{{applet}}"
            @click="setActiveApplet('{{applet}}')"
            :disabled="activeApplet === '{{applet}}'"
            style="transform-origin: center 250%;"
            :class="activeApplet === '{{applet}}' ? 'delay-100 duration-300' : 'duration-200 active:scale-[.95] active:duration-300 easing-ease-out hover:-translate-y-1'"
            class="grid w-12 h-12 transition transform rounded-lg shadow-applet-header place-content-center text-clr-solid bg-clr-tint">
            <div class="w-6 h-6">{{icon | safe}}</div>
        </button>
        <span
            x-show="activeApplet === '{{applet}}'"
            x-transition:enter="delay-75 duration-200"
            x-transition:enter-start="scale-0 opacity-0"
            x-transition:enter-end="scale-100 opacity-100"
            x-transition:leave=""
            x-transition:leave-start="scale-100 opacity-100"
            x-transition:leave-end="scale-0 opacity-0"
            class="block w-1 h-1 transition rounded-full bg-clr-solid">
        </span>
    </div>
{% endmacro %}
        <footer class="flex justify-center w-full pb-2">
            <nav class="flex px-3 pb-1 pt-3 rounded-[15px] gap-3 bg-ui-topbar-bg backdrop-blur shadow-applet-idle min-w-[200px]">
                {{ appletIcon(applet="photos", icon=heartIcon) }}
                {{ appletIcon(applet="design", icon=penIcon) }}
                {{ appletIcon(applet="posts", icon=bookIcon) }}
                {{ appletIcon(applet="music", icon=musicIcon) }}
                {{ appletIcon(applet="chat", icon=chatIcon) }}
            </nav>

        </footer>
