{% macro avatar(size, class) %}
    <div class="relative flex-shrink-0 {{size}} overflow-hidden rounded-full {{class}}">
        <img src="/images/profile-pic.jpg" alt="Profile picture of Steph lookin' cute at the park.">
        <div class="absolute inset-0 rounded-full shadow-inset-stroke"></div>
    </div>
{% endmacro %}
