{% macro button(label, icon, highlighted, as, href, class, onClick, newTab) %}
    <{{as}}
        {% if href %}href="{{href}}"{% endif %}
        {% if newTab %}target="_blank"{% endif %}
        {% if onClick %}@click="{{onClick}}"{% endif %}
        class="pt-1.5 px-2 pb-[7px] flex gap-2 justify-center items-center transition-colors rounded-sm group text-button {{class}}
        {% if highlighted %} bg-clr-solid shadow-btn-highlight text-display-inverse-primary hover:bg-btn-highlight-bg-hover active:shadow-btn-highlight-inset {% else %} bg-btn-bg text-display-secondary hover:text-display-primary hover:bg-btn-bg-hover shadow-btn-basic active:shadow-btn-basic-inset{% endif %}"
    >
        {% if icon %}
            <span class="appletListItemContents text-display-tertiary h-15 w-15">{{icon | safe}}</span>
        {% endif %}
        {% if label %}
            <span class="appletListItemContents">{{label | safe}}</span>
        {% endif %}
    </{{as}}>
{% endmacro %}
