<div id="cursor" :data-applet="cursorApplet" class="absolute translate-x-[var(--posX)] translate-y-[var(--posY)] pointer-events-none top-0 left-0 z-cursor">
    <div class="transition-transform scale-[var(--scale)] w-7 h-7 rounded-full bg-clr-tint/25 dark:bg-btnSecondary-bg/10 shadow-cursor backdrop-blur-xs"></div>
</div>
