{% import "components/avatar.njk" as "avatar"%}
{% import "components/button.njk" as "btn"%}
{% from "snippets/loginAnimationTimings.njk" import loginPanelTimingIn,
loginPanelTimingOut,
loginBgTimingIn,
loginBgTimingOut,
loadingBarTimingOut %}

<div x-show="appState !== 'loggedIn'" class="fixed inset-0 grid grid-absolute place-items-center">
    <div
        x-show="appState !== 'loggedIn'"
        x-transition:leave-start="opacity-100"
        x-transition:leave="transition transform {{loginBgTimingOut}}"
        x-transition:leave-end="opacity-0"
        x-transition:enter-start="opacity-0"
        x-transition:enter="transition transform {{loginBgTimingIn}}"
        x-transition:enter-end="opacity-100"
        class="absolute inset-0 -z-1 bg-clr-neutral filter shadow-body-login"
        style="background-image: url(/images/dot-pattern.svg); filter: blur(2px)"></div>
    <div class="flex flex-col items-center gap-4 grid-inset-0">
        <h2 class="text-lg text-display-tertiary">Loading stephOS...</h2>
        <div
            x-show="appState === 'startUp'"
            x-transition:leave-start="opacity-100"
            x-transition:leave="transition {{loadingBarTimingOut}}"
            x-transition:leave-end="opacity-0"
            class="w-48 h-1.5 overflow-hidden rounded-full bg-clr-neutral shadow-list-inset">
            <div class="w-full h-full rounded-full animate-loading-bar bg-clr-solid"></div>
        </div>
    </div>
    {# login panel #}
    <div x-cloak class="relative flex flex-col items-center gap-8 grid-inset-0">
        <div
            x-show="appState === 'loggedOut'"
            x-transition:leave-start="opacity-100 scale-100 translate-y-0"
            x-transition:leave="transition transform {{loginPanelTimingOut}}"
            x-transition:leave-end="translate-y-6 opacity-0"
            x-transition:enter-start="opacity-0 scale-90"
            x-transition:enter="transition transform {{loginPanelTimingIn}}"
            x-transition:enter-end="scale-100 opacity-100">
            {{avatar.avatar(size="w-28 h-28")}}
        </div>
        <div
            x-show="appState === 'loggedOut'"
            x-transition:leave-start="opacity-100 scale-100 translate-y-0"
            x-transition:leave="transition transform {{loginPanelTimingOut}}"
            x-transition:leave-end="translate-y-12 opacity-0"
            x-transition:enter-start="opacity-0 scale-90"
            x-transition:enter="transition transform {{loginPanelTimingIn}}"
            x-transition:enter-end="scale-100 opacity-100"
            class="flex flex-col items-center gap-4">
            <h2 class="text-xl font-medium">Welcome to stephOS</h2>
            {{btn.button(label="Log in", as="button", onClick="appState = 'loggedIn'")}}
        </div>
    </div>
</div>
