{% set heartIcon %}{% include "icons/heart-fill.svg" %}{% endset %}
{% from "snippets/loginAnimationTimings.njk" import uiBarTimingOut,
uiBarTimingIn %}
{% set themeIcon %}{% include "icons/theme.svg" %}{% endset %}

{% set themeButtonIcon %}
<span
    :class="theme === 'dark' ? '-rotate-180 ' : ''"
    class="block transition-transform duration-300 transform ease-bounce-small w-15 h-15 ">
    {{themeIcon | safe}}
</span>
{% endset %}

{% macro topbarButton(label, icon, title, featured, onClick, type = "tab", class) %}
    <button
        title="{{title}}"
    {% if type === "tab" %}
        :class="activeApplet === '{{label}}' ? 'bg-btnSecondary-bg text-display-primary' : 'text-display-secondary'"
        @click="setActiveApplet('{{label | lower}}')"
    {% elseif type === "dropdown" %}
        @click="{{onClick}}"
        :class="open && ' bg-ui-divider'"
    {% elseif type === "button" %}
        @click="{{onClick}}"
    {% endif %}
        class="{% if featured %}font-medium text-display-primary{% endif %} {{class}} text-sm leading-none px-2 pt-[7px] pb-[8px] rounded-sm hover:bg-btnSecondary-bg ease-bounce active:scale-[97%]">
        {% if label %}
            {{label}}
        {% endif %}
        {% if icon %}
            {{icon | safe}}
        {% endif %}
    </button>
{% endmacro %}

<header
    :data-applet="activeApplet"
    x-show="appState === 'loggedIn'"
    x-transition:enter-start="-translate-y-full"
    x-transition:enter="transition transform {{uiBarTimingIn}}"
    x-transition:enter-end="translate-0"
    x-transition:leave-start="translate-0"
    x-transition:leave="transition transform {{uiBarTimingOut}}"
    x-transition:leave-end="-translate-y-full"
    class="flex items-center justify-between w-full px-5 py-0.5 bg-ui-topbar-bg shadow-topbar backdrop-blur">
    <div class="flex space-x-1">
        <div x-data="{open: false}" class="relative">
            {{topbarButton(label=copy.websiteTitle, featured=true, type="dropdown", onClick="open = !open")}}
            <div
                x-cloak x-show="open"
                @click.away="open = false"
                x-transition:enter="origin-top-left transition ease-bounce-small duration-200"
                x-transition:enter-start="opacity-0 scale-90"
                x-transition:leave="origin-top-left transition"
                x-transition:leave-end="opacity-0"
                class="w-[268px] mt-[3px] bg-ui-applet-bg-base dark:backdrop-blur shadow-applet-idle rounded flex flex-col gap-2 pt-3 pb-2 px-4 absolute z-[20]">
                <div class="flex flex-col gap-3">
                    <p class="text-display-secondary">{{copy.topbarDropdown}}
                        <span :data-applet="activeApplet" class="relative inline-block left-1 top-[3px] h-15 w-15 text-clr-solid">{{heartIcon | safe}}</span></p>
                    <span class="text-display-tertiary">&copy; Stephen Barkan 2022</span>
                </div>
                <div class="divider"></div>
                {{topbarButton(label="Log out", class="-mx-2 -my-0.5 text-left", type="button", onClick="appState = 'loggedOut' ; open = !open")}}
            </div>
        </div>
        <nav class="flex space-x-1">
            {{topbarButton(label="Photos", title="Focus photos applet")}}
            {{topbarButton(label="Design", title="Focus design applet")}}
            {{topbarButton(label="Posts", title="Focus posts applet")}}
            {{topbarButton(label="Music", title="Focus music applet")}}
            {{topbarButton(label="Chat", title="Focus chat applet")}}
        </nav>
    </div>
    <div class="flex items-center gap-4">
        {{topbarButton(icon=themeButtonIcon, title="Switch theme", class="-mx-2 -my-0.5 text-left", type="button", onClick="theme === 'light' ? theme = 'dark' : theme = 'light'")}}
        <time data-clock class="hidden text-sm leading-none md:block text-display-secondary"></time>
    </div>
</header>
