{% set heartIcon %}{% include "icons/heart-fill.svg" %}{% endset %}
{% from "snippets/loginAnimationTimings.njk" import topBarTiming %}
{% macro topbarButton(title, featured, onClick, tab = true) %}
    <button
    {% if tab %}
        :class="activeApplet === '{{title}}' ? 'bg-ui-divider text-display-primary' : 'text-display-secondary'"
        @click="setActiveApplet('{{title}}')"
    {% else %}
        @click="{{onClick}}"
        :class="open && ' bg-ui-divider'"
    {% endif %}
        class="{% if featured %}font-medium text-display-primary{% endif %}
            {{class}} text-sm leading-none px-2 capitalize pt-[6px] pb-[7px] rounded-sm hover:bg-ui-divider">
        {{title}}
    </button>
{% endmacro %}

<header
    :data-applet="activeApplet"
    x-show="loggedIn"
    x-transition:enter-start="-translate-y-full"
    x-transition:enter="transition transform {{topBarTiming}}"
    x-transition:enter-end="translate-0"
    class="flex items-center justify-between w-full px-5 py-px bg-ui-topbar-bg shadow-topbar backdrop-blur">
    <div class="flex space-x-1">
        <div x-data="{open: false}" class="relative">
            {{topbarButton(title="Stephen Barkan", featured=true, tab=false, onClick="open = !open")}}
            <div
                x-cloak x-show="open"
                @click.away="open = false"
                x-transition:enter="origin-top-left transition ease-bounce-small duration-200"
                x-transition:enter-start="opacity-0 scale-90"
                x-transition:leave="origin-top-left transition"
                x-transition:leave-end="opacity-0"
                class="w-[268px] mt-[3px] divide-y divide-ui-divider bg-ui-applet-bg shadow-applet-idle rounded flex flex-col gap-3 py-3 px-4 absolute z-[20]">
                <p class="text-display-secondary">Thanks for being here! I hope this site brings you some joy.<span :data-applet="activeApplet" class="relative inline-block left-1 top-[3px] h-15 w-15 text-clr-solid">{{heartIcon | safe}}</span></p>
                <span class="pt-3 text-display-tertiary">&copy; Stephen Barkan 2022</span>
                {# {{topbarButton(title="Log out", class="w-full text-left", tab=false, onClick="loggedIn = false; open = !open")}} #}
            </div>
        </div>
        <nav class="flex space-x-1">
            {{topbarButton(title="photos")}}
            {{topbarButton(title="design")}}
            {{topbarButton(title="posts")}}
            {{topbarButton(title="music")}}
            {{topbarButton(title="chat")}}
        </nav>
    </div>
    <div class="hidden md:flex pt-[6px] pb-[7px]">
        <time data-clock class="text-sm leading-none text-display-secondary"></time>
    </div>
</header>
