{% extends "components/appletShell.njk" %}
{% import "components/button.njk" as "btn"%}
{% set closeIcon %}{% include "icons/close.svg" %}{% endset %}
{% set chevronLeftIcon %}{% include "icons/chevron-left.svg" %}{% endset %}
{% block content %}
    <div x-data="{ openPost: 'welcome', open: false }" class="flex flex-1 max-h-full px-3">
        <div
            @click="open = false"
            x-show="open"
            x-transition.opacity.duration.300ms
            class="absolute inset-0 pb-3 bg-ui-shade backdrop-blur md:hidden"></div>
        {# desktop sidebar #}
        <aside
            class="flex flex-col hidden w-48 gap-6 pr-3 overflow-auto md:block">
            <div class="flex flex-col gap-1 md:mt-0">
                {% for post in data %}
                    {% if post.data.featured == true %}
                        {{ postLink(post.data.title, post.data.date, true, fileSlug=post.fileSlug) }}
                    {% endif %}
                {% endfor %}
                <div class="divider"></div>
                <ul class="flex flex-col gap-1 pt-1 pb-3">
                    {% for post in data %}
                        {% if post.data.featured !== true %}
                            {{ postLink(post.data.title, post.data.date, false, fileSlug=post.fileSlug) }}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </aside>
        {# Mobile sidebar #}
        <aside
            x-show="open"
            x-transition:enter="transition ease-out duration-150 delay-150"
            x-transition:enter-start="-translate-x-full"
            x-transition:enter-end="opacity-100"
            x-transition:leave="transition ease-in duration-150 transform"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="-translate-x-full"
            class="absolute top-0 bottom-0 left-0 z-10 flex flex-col w-48 gap-6 px-3 pt-6 overflow-auto transform bg-ui-applet-bg md:hidden">
            <div @click="open = false" class="md:hidden">{{btn.button(label="Close list", icon=closeIcon, as="button", class="w-full")}}</div>
            <div class="flex flex-col gap-1 md:mt-0">
                {% for post in data %}
                    {% if post.data.featured == true %}
                        {{ postLink(post.data.title, post.data.date, true, fileSlug=post.fileSlug) }}
                    {% endif %}
                {% endfor %}
                <div class="divider"></div>
                <ul class="flex flex-col gap-1 pt-1 pb-3">
                    {% for post in data %}
                        {% if post.data.featured !== true %}
                            {{ postLink(post.data.title, post.data.date, false, fileSlug=post.fileSlug) }}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </aside>
        <div class="hidden mb-3 mr-3 md:block divider vertical"></div>
        <main class="flex justify-center flex-1 max-w-full max-h-full">
            <div class="flex flex-col flex-1 max-w-full gap-6 p-px">
                <div @click="open=true" class="self-start md:hidden">{{btn.button(label="All entries", icon=chevronLeftIcon, as="button")}}</div>
                {% for post in data %}
                    <template x-if="openPost === '{{post.fileSlug}}'">
                        <article class="flex flex-col items-center flex-1 max-h-full px-2 overflow-y-auto xs:px-0">
                            <div class="max-w-[550px] xs:w-[83%] w-full gap-4 flex flex-col pt-4">
                                <time class="text-sm text-display-tertiary">{{post.data.date | dateDisplay}}</time>
                                <h3 class="text-xl">{{post.data.title}}</h3>
                                <div class="pb-6 prose text-display-secondary text-prose">{{post.templateContent | safe}}</div>
                            </div>
                        </article>
                    </template>
                {% endfor %}
            </div>
        </main>
    </div>
{% endblock %}

{% macro postLink(title, date, isPinned, class, fileSlug) %}
    <button
        @click.prevent="openPost = '{{fileSlug}}'; open=false"
        :class="{ 'appletListItemActive': openPost === '{{fileSlug}}' }"
        class="{{class}} text-left flex pb-2.5 pt-2 space-x-3 pr-2 pl-2.5 appletListItem group">
        <div class="space-y-1.5 overflow-hidden flex-1 appletListItemContents" :class="openPost === '{{fileSlug}}' && 'translate-y-px'">
            <p class="truncate"  :class="{'text-display-primary': openPost === '{{fileSlug}}', 'group-active:text-display-primary text-display-secondary': openPost !=='{{fileSlug}}'}">{{title}}</p>
            <time class="block text-sm text-display-tertiary">{{date | dateDisplay}}</time>
        </div>
        {% if (isPinned) %}
            <div
                class="flex-shrink-0 pt-0.5 h-15 w-15  group-active:translate-y-px duration-75 transition-transform"
                :class="{'text-clr-solid translate-y-px': openPost === '{{fileSlug}}', 'text-display-tertiary': openPost !=='{{fileSlug}}'}">
                {% include "icons/pin-fill.svg" %}
            </div>
        {% endif %}
    </button>
{% endmacro %}
