{% set loginBgTiming %} duration-500 delay-200 {% endset %}
{% set loginPanelTiming %} duration-[1750ms] {% endset %}
{% set topBarTiming %} duration-[1500ms] delay-500 {% endset %}
{% set bottomBarTiming %} duration-[1500ms] delay-500 {% endset %}
{% set designAppletTiming %} duration-[2000ms] delay-[750ms] {% endset %}
{% set musicAppletTiming %} duration-[2000ms] delay-[850ms] {% endset %}
{% set chatAppletTiming %} duration-[2000ms] delay-[950ms] {% endset %}
{% set photosAppletTiming %} duration-[2000ms] delay-[1150ms] {% endset %}
{% set postsAppletTiming %} duration-[2000ms] delay-[1250ms] {% endset %}
