{% set loginBgTimingOut %} duration-750 delay-500 {% endset %}
{% set loginBgTimingIn %} duration-500 delay-[500ms] {% endset %}

{% set loginPanelTimingOut %} delay-[150ms] ease-easeIn duration-[1000ms] {% endset %}
{% set loginPanelTimingIn %} delay-[750ms] duration-[3000ms] {% endset %}

{% set uiBarTimingIn %} duration-[1000ms] delay-[1000ms] {% endset %}
{% set uiBarTimingOut %} duration-[1000ms] delay-100 {% endset %}

{% set loadingBarTimingOut %} duration-[1000ms] {% endset %}

{% set designAppletTimingIn %} duration-[2000ms] delay-[1500ms] lg:delay-[1300ms] {% endset %}
{% set designAppletTimingOut %} duration-[750ms] delay-[300ms] {% endset %}

{% set musicAppletTimingIn %} duration-[2000ms] delay-[1500ms] lg:delay-[1400ms] {% endset %}
{% set musicAppletTimingOut %} duration-[750ms] delay-[400ms] {% endset %}

{% set chatAppletTimingIn %} duration-[2000ms] delay-[1500ms] lg:delay-[1500ms] {% endset %}
{% set chatAppletTimingOut %} duration-[750ms] delay-[475ms] {% endset %}

{% set photosAppletTimingIn %} duration-[2000ms] delay-[1500ms] lg:delay-[1750ms] {% endset %}
{% set photosAppletTimingOut %} duration-[750ms] delay-[500ms] {% endset %}

{% set postsAppletTimingIn %} duration-[2000ms] delay-[1500ms] lg:delay-[2000ms] {% endset %}
{% set postsAppletTimingOut %} duration-[750ms] delay-[525ms] {% endset %}
