:root {
  --display-primary: rgba(22, 21, 30, 1);
  --display-secondary: rgba(22, 21, 30, 0.78);
  --display-tertiary: rgba(22, 21, 30, 0.5);
  --display-inverse-primary: rgba(255, 255, 255, 1);
  --display-inverse-secondary: rgba(255, 255, 255, 0.83);
  --display-inverse-tertiary: rgba(255, 255, 255, 0.75);

  /* ui */
  --applet-bg: rgba(255, 255, 255, 0.93);
  --divider: rgba(0, 0, 0, 0.07);
  --shade: rgba(22, 21, 30, 0.5);

  /* buttons */
  --btn-bg: rgba(252, 252, 252, 1);
  --btn-border: rgba(0, 0, 0, 0.12);
  --btn-bg-hover: rgba(247, 247, 247, 1);
}

[data-applet="photos"] {
  --clr-solid: rgba(252, 102, 79, 1);
  --clr-tint: rgba(255, 237, 228, 1);
  --clr-highlight: rgba(245, 243, 243, 1);
  --btn-bg-hover: rgba(249, 247, 246, 1);
}
[data-applet="design"] {
  --clr-solid: rgba(85, 71, 236, 1);
  --clr-tint: rgba(237, 235, 255, 1);
  --clr-highlight: rgba(244, 244, 246, 1);
  --btn-bg-hover: rgba(247, 247, 248, 1);
}
[data-applet="posts"] {
  --clr-solid: rgba(233, 155, 65, 1);
  --clr-tint: rgba(255, 245, 221, 1);
  --clr-highlight: rgba(246, 245, 244, 1);
  --btn-bg-hover: rgba(248, 248, 246, 1);
}
[data-applet="music"] {
  --clr-solid: rgba(50, 184, 168, 1);
  --clr-tint: rgba(221, 248, 232, 1);
  --clr-highlight: rgba(244, 246, 245, 1);
  --btn-bg-hover: rgba(246, 248, 247, 1);
}
[data-applet="chat"] {
  --clr-solid: rgba(10, 152, 235, 1);
  --clr-tint: rgba(225, 241, 255, 1);
  --clr-highlight: rgba(241, 243, 244, 1);
  --btn-bg-hover: rgba(246, 248, 249, 1);
}
