/* @import "./colors.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-family: "darkmode-off";
    --font-family-inverse: "darkmode-on";

    /* display colors */
    --display-primary: rgba(22, 21, 30, 1);
    --display-secondary: rgba(22, 21, 30, 0.78);
    --display-tertiary: rgba(22, 21, 30, 0.5);
    --display-inverse-primary: rgba(255, 255, 255, 1);
    --display-inverse-secondary: rgba(255, 255, 255, 0.83);
    --display-inverse-tertiary: rgba(255, 255, 255, 0.75);
    --display-link: rgb(0, 115, 183, 1);

    /* ui colors */
    --applet-bg: rgba(255, 255, 255, 1);
    --divider: rgba(0, 0, 0, 0.07);
    --shade: rgba(22, 21, 30, 0.5);
    --topbar-bg: rgba(255, 255, 255, 0.4);

    /* button colors */
    --btn-bg: rgba(252, 252, 252, 1);
    --btn-border: rgba(0, 0, 0, 0.12);
    --btn-bg-hover: rgba(247, 247, 247, 1);
    --btn-highlight: 255 255 255;

    /* shadow colors */
    --shadow-photos: 20deg 100% 13%;
    --shadow-design: 270deg 35% 13%;
    --shadow-posts: 41deg 80% 13%;
    --shadow-music: 91deg 25% 13%;
    --shadow-chat: 206deg 80% 13%;
  }

  [data-active-applet="photos"] {
    --wallpaper: rgba(247, 241, 238, 1);
    --global-shadow-color: var(--shadow-photos);
  }
  [data-applet="photos"] {
    --clr-solid: 252, 102, 79;
    --clr-tint: rgba(255, 237, 228, 1);
    --clr-highlight: rgba(245, 243, 243, 1);
    --btn-bg: hsla(0deg 20% 99% / 1);
    --btn-bg-hover: rgba(249, 247, 246, 1);
    --scoped-shadow-color: var(--shadow-photos);
    --display-primary: hsl(8deg 18% 10%);
    --display-secondary: hsl(8deg 40% 8% / 78%);
    --display-tertiary: hsl(8deg 18% 10% / 50%);
  }

  [data-active-applet="design"] {
    --wallpaper: rgba(242, 238, 247, 1);
    --global-shadow-color: var(--shadow-design);
  }
  [data-applet="design"] {
    --clr-solid: 85, 71, 236;
    --clr-tint: rgba(237, 235, 255, 1);
    --clr-highlight: hsl(240deg 10% 96%);
    --btn-bg: hsl(240deg 20% 99%);
    --btn-bg-hover: rgba(247, 247, 248, 1);
    --scoped-shadow-color: var(--shadow-design);
    --display-primary: hsl(246deg 18% 10%);
    --display-secondary: hsl(246deg 50% 8% / 78%);
    --display-tertiary: hsl(246deg 28% 10% / 50%);
  }

  [data-active-applet="posts"] {
    --wallpaper: rgba(248, 245, 236, 1);
    --global-shadow-color: var(--shadow-posts);
  }
  [data-applet="posts"] {
    --clr-solid: 233, 155, 65;
    --clr-tint: rgba(255, 245, 221, 1);
    --clr-highlight: hsl(30deg 8% 96%);
    --btn-bg: hsla(60deg 20% 99% / 1);
    --btn-bg-hover: rgba(248, 248, 246, 1);
    --scoped-shadow-color: var(--shadow-posts);
    --display-primary: hsl(22deg 18% 10%);
    --display-secondary: hsl(22deg 30% 8% / 78%);
    --display-tertiary: hsl(22deg 8% 10% / 50%);
  }

  [data-active-applet="music"] {
    --wallpaper: #f2f5ef;
    --global-shadow-color: var(--shadow-music);
  }
  [data-applet="music"] {
    --clr-solid: 50, 184, 168;
    --clr-tint: rgba(221, 248, 232, 1);
    --clr-highlight: rgba(244, 246, 245, 1);
    --btn-bg: hsla(150deg 20% 99% / 1);
    --btn-bg-hover: rgba(246, 248, 247, 1);
    --scoped-shadow-color: var(--shadow-music);
    --btn-highlight-border: 173deg 77% 34%;
    --btn-highlight-hover: 173deg 54% 43%;
    --display-primary: hsl(144deg 18% 10%);
    --display-secondary: hsl(144deg 60% 8% / 78%);
    --display-tertiary: hsl(144deg 38% 10% / 50%);
  }

  [data-active-applet="chat"] {
    --wallpaper: #edf3f7;
    --global-shadow-color: var(--shadow-chat);
  }
  [data-applet="chat"] {
    --clr-solid: 10, 152, 235;
    --clr-tint: rgba(225, 241, 255, 1);
    --clr-highlight: rgba(240, 243, 245, 1);
    --btn-bg-hover: rgba(246, 248, 249, 1);
    --scoped-shadow-color: var(--shadow-chat);
    --btn-highlight-border: 202deg 62% 40%;
    --btn-highlight-hover: 202deg 90% 43%;
    --display-primary: hsl(208deg 18% 10%);
    --display-secondary: hsl(208deg 60% 8% / 78%);
    --display-tertiary: hsl(208deg 38% 10% / 50%);
  }
}

@layer components {
  .text-xl {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 500;
  }
  .text-prose {
    font-size: 15px;
    line-height: 1.75;
    letter-spacing: 0.01em;
  }
  .text-lg {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
  }
  .text-base {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.01em;
  }
  .text-sm {
    font-size: 13px;
    line-height: 1.3;
  }
  .text-button {
    font-size: 13px;
    line-height: 1.15;
  }
  .text-button-inverse {
    font-family: var(--font-family-inverse);
    font-size: 13px;
    line-height: 1.15;
  }

  /*  */

  .prose {
    --base-font-size: 1em;
    --em-multiplier: 1.35;
    --space-half: calc(var(--em-multiplier) * var(--base-font-size) / 6);
    --space-1: calc(var(--em-multiplier) * var(--base-font-size) / 3);
    --space-2: calc(var(--em-multiplier) * var(--base-font-size) * 2 / 3);
    --space-3: calc(var(--em-multiplier) * var(--base-font-size) * 1);
    --space-4: calc(var(--em-multiplier) * var(--base-font-size) * 4 / 3);
    --space-6: calc(var(--em-multiplier) * var(--base-font-size) * 5 / 3);
  }

  .prose > :first-child,
  .prose *:first-child {
    margin-top: 0;
  }

  /* paragraphs */
  .prose p {
    margin-top: var(--space-2);
  }

  /* headings */
  .prose h2,
  .prose h3 {
    font-weight: 500;
    color: theme("colors.display.primary");
  }

  .prose h2 {
    font-size: 1.35em;
    margin-top: var(--space-4);
    line-height: 1.35;
  }

  .prose h3 {
    font-size: 1.095em;
    margin-top: var(--space-3);
    line-height: 1.45;
  }

  /* lists */
  .prose ul,
  .prose ol {
    margin-top: var(--space-1);
    padding-left: var(--space-3);
  }

  .prose ul {
    list-style: disc;
  }

  .prose ul ul {
    list-style: circle;
  }

  .prose ul ul ul {
    list-style: square;
  }

  .prose ol {
    list-style: decimal;
  }

  .prose ::marker {
    color: theme("colors.display.tertiary");
  }

  .prose ol > li {
    padding-left: 4px;
  }

  .prose ul li {
    padding-inline-start: var(--space-half);
  }
  .prose ul li::marker {
    font-size: 0.8em;
  }

  /* small space between items to make it easier to distinguish from items that have two lines. */
  .prose li + li {
    margin-top: calc(0.5 * var(--space-1));
  }
  .prose ul ul,
  .prose ul ol,
  .prose ol ol,
  .prose ol ul {
    margin-top: calc(0.5 * var(--space-1));
  }

  /* horizontal ruler */
  .prose hr {
    margin-block: var(--space-4);
    border-top-width: 1px;
    border-top-color: theme("colors.ui.divider");
  }

  /* blockquote */
  .prose blockquote {
    /* padding-right: var(--space-3); */
    /* text-indent: 2em; */
    color: theme("colors.display.tertiary");
    /* font-size: 0.95em; */
    margin-top: var(--space-3);
    position: relative;
    font-style: italic;
  }

  /* code */
  .prose code {
    font-family: "Source Code Pro", Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
    border-radius: 5px;
    font-size: 0.875em;
    padding: 2px 4px;
    margin: 0;
    background-color: theme("colors.clr.highlight");
    /* border-width: 1px; */
    /* border-style: solid; */
    /* border-color: theme("colors.ui.divider"); */
  }

  .prose pre {
    margin-top: var(--space-3);
  }

  .prose pre code {
    display: block;
    padding: var(--space-1) var(--space-2);
    overflow: auto;
  }

  /* images */
  .prose img,
  iframe {
    max-width: 100%;
    max-height: 346px;
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: theme("borderRadius.sm");
    border-width: 1px;
    border-style: solid;
    border-color: theme("colors.ui.divider");
    margin-block: var(--space-3);
  }

  .prose li img {
    margin-block: var(--space-2);
  }

  /* headings in relation to other tags */
  .prose h2 + * {
    margin-top: var(--space-1) !important;
  }

  .prose h2 + h3 {
    margin-top: var(--space-3) !important;
  }

  .prose h3 + * {
    margin-top: var(--space-1) !important;
  }

  /* bold and italics */
  .prose b,
  .prose b *:not(a),
  .prose strong,
  .prose strong *:not(a) {
    font-weight: 500;
    color: theme("colors.display.primary");
  }

  .prose em {
    font-style: italic;
  }

  /* links */
  .prose a,
  .prose a * {
    color: theme("colors.display.link");
    text-decoration: underline;
    text-decoration-thickness: 1px;
    /* text-decoration-color: theme("colors.btn.border"); */
  }
  .prose a:hover,
  .prose a:hover * {
    text-decoration: none;
  }

  /* music progress bar */
  input[type="range"] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    cursor: pointer;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  input[type="range"]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
  input[type="range"]::-ms-track {
    width: 100%;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  /* Special styling for WebKit/Blink */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: theme("boxShadow.btn-basic");
    height: 16px;
    width: 16px;
    border-radius: 999px;
    background: theme("colors.btn.bg");
    transform: scale(0);
    transition-property: transform;
    transition-timing-function: theme("transitionTimingFunction.DEFAULT");
    transition-duration: 500ms;
    transition-delay: 300ms;
  }
  input[type="range"]:hover::-webkit-slider-thumb,
  input[type="range"]:focus-visible::-webkit-slider-thumb {
    transform: none;
    transition-delay: 0ms;
    transition-duration: 200ms;
  }
  input[type="range"]::-webkit-slider-thumb:active,
  input[type="range"]::-webkit-slider-thumb:hover {
    background: theme("colors.btn.bg-hover");
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(0.9);
  }

  /* All the same stuff for Firefox */
  input[type="range"]::-moz-range-thumb {
    box-shadow: theme("boxShadow.btn-basic");
    height: 16px;
    width: 16px;
    border-radius: 999px;
    background: theme("colors.btn.bg");
    transform: scale(0);
    transition-property: transform;
    transition-timing-function: theme("transitionTimingFunction.DEFAULT");
    transition-duration: 500ms;
    transition-delay: 300ms;
  }
  input[type="range"]:hover::-moz-range-thumb,
  input[type="range"]:focus-visible::-moz-range-thumb {
    transform: none;
    transition-delay: 0ms;
    transition-duration: 200ms;
  }
  input[type="range"]::-moz-range-thumb:active,
  input[type="range"]::-moz-range-thumb:hover {
    background: theme("colors.btn.bg-hover");
  }
  input[type="range"]::-moz-range-thumb:active {
    transform: scale(0.9);
  }

  /* All the same stuff for IE */
  input[type="range"]::-ms-thumb {
    box-shadow: theme("boxShadow.btn-basic");
    height: 16px;
    width: 16px;
    border-radius: 999px;
    background: theme("colors.btn.bg");
    transform: scale(0);
    transition-property: transform;
    transition-timing-function: theme("transitionTimingFunction.DEFAULT");
    transition-duration: 500ms;
    transition-delay: 300ms;
  }
  input[type="range"]:hover::-ms-thumb,
  input[type="range"]:focus-visible::-ms-thumb {
    transform: none;
    transition-delay: 0;
    transition-duration: 200ms;
  }
  input[type="range"]::-ms-thumb:active,
  input[type="range"]::-ms-thumb:hover {
    background: theme("colors.btn.bg-hover");
  }
  input[type="range"]::-ms-thumb:active {
    transform: scale(0.9);
  }

  /* chat applet */

  /* .chat-bubble .tail {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    left: 0;
    border-left: 10px solid theme("colors.clr.highlight");
    border-bottom-right-radius: 16px 14px;
    border-bottom-left-radius: 3px;
    height: 50%;
    transform: translate(0, -2px);
  }

  .chat-bubble.sentByUser .tail {
    border-right: 10px solid theme("colors.clr.solid");
    border-bottom-left-radius: 16px 14px;
    right: 0;
    left: unset;
    border-left: unset;
    border-bottom-right-radius: 3px;
  } */

  .appletListItem {
    @apply transition-shadow duration-200 rounded hover:bg-clr-highlight active:shadow-list-inset;
  }
  .appletListItemContents {
    @apply transition duration-200 group-active:translate-y-px group-active:ease-bounce;
  }

  .appletListItemActive {
    @apply bg-clr-highlight shadow-list-inset;
  }
}

@layer utilities {
  [x-cloak] {
    display: none !important;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.4;
    transition: opacity 250ms ease;
  }

  .grid-absolute {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .grid-inset-0 {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }

  .divider {
    height: 1px;
    flex-shrink: 0;
    @apply bg-ui-divider;
  }
  .divider.vertical {
    height: auto;
    width: 1px;
  }

  .page-container {
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    .page-container {
      margin-inline-start: auto;
      margin-inline-end: auto;
      max-width: 400px;
      padding-inline-start: 8px;
      padding-inline-end: 8px;
    }
  }

  .input-wrapper::after {
    content: attr(data-value) " ";
    visibility: hidden;
    white-space: pre-wrap;
    max-height: 100px;
    padding: 0.5rem 0.75rem;
  }

  .input-wrapper::after,
  .input-wrapper textarea {
    grid-area: 1 / 1;
    width: 100%;
    height: 100%;
    min-width: 1em;
    font: inherit;
    margin: 0;
    resize: none;
    background: none;
    appearance: none;
    border: none;
  }

  .applet-animate {
    animation: appletAnimate 700ms theme(transitionTimingFunction.DEFAULT);
  }
  @keyframes appletAnimate {
    0%,
    100% {
      transform: scale(1);
    }
    10% {
      transform: scale(1.007);
    }
  }
}
